.header {
    background-color:#00587A;
    padding: 20px 100px; 
    box-shadow: 0px 12px 33px -16px rgba(0,0,0,0.75);
}

.container-input {
    width: 500px;
    display:inline-flex;
    margin-left: 80px;
    margin-top: 10px;
}

.white {
   color: #fff;
   border-color: #fff;
}

.container-toggle {
    margin-left: 80px;
}
